<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
  </script>
<link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
.confirm{
	background-color: #2d555d;
}	
</style>
<body class="confirm">
<!-- top navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage/">Home</a></li>
      <li><a href="/aboutus/">About</a></li>
      <li><a href="/registerShow/">Register</a></li>
      <li><a href="/home/">Login</a></li>
     <li><a href="/contact/">Contact Us</a></li>
      <li class="nav navbar-right"><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>
<!-- end top navigation -->

<div class="container">
  
  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>About us</h2>
          

          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
        <div class="row">
            <div class="col-md-3">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h3>Satlaj Thakur</h3>
                        <p class="subtitle">Web Devloper</p>
                        <div class="avatar"><img src="/static/img/15085522_570666693119256_7577505978327466666_n.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
        </div>
            </div>
     
      
      
        </div>    
    </div>
  </section>
  <!-- /Section: about -->
   <p style="font-size: 30px;"> Myself Satlaj Thakur...<br>I am a student of BS hons.(computer science) in Banaras Hindu University.</p>   
</div>
<center>  
                            <div class="container">    
                              <a href="/www.facebook.com/" class="fa fa-facebook"></a>
                              <a href="/www.google.com/" class="fa fa-google"></a>                
                              <a href="#" class="fa fa-instagram"></a>
                            </div>   
                  </center>  
</body>
</html>